.heading {
    text-align: center;
    text-transform: uppercase;
}

.heading-name {
    font-size: 12px;
    color: $color-second;
    line-height: (24/14);
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.heading-desc {
    font-size: 18px;
    color: $color-primary;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.heading-common {
    font-size: 18px;
    color: $color-primary;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.heading-recuiment {
    font-size: 12px;
    background: $color-five;
    line-height: (17/12);
    padding: 12px 23px;
    margin: 20px auto 15px;
    max-width: 830px;
}

.panel-about {
    padding-top: 36px;
    padding-bottom: 10px;

    .heading {
        margin-bottom: 17px;
    }
}

.about-item {
    text-align: center;
    margin-bottom: 20px;
}

.about-media {
    background: $color-primary;
    margin-bottom: 11px;

    img {
        width: 100%;
        transition: opacity .3s;
    }

    &:hover {

        img {
            opacity: .8
        }
    }
}

.about-heading {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 6px;

    a {
        color: $color-second;
        text-decoration: none;

        &:hover {
            color: $color-primary;
        }
    }
}

.about-content {
    margin: 0 auto;
    max-width: 265px;
}

@include breakpoint(sm) {
    .heading-recuiment {
        margin-top: 57px;
        margin-bottom: 32px;
    }

    .heading-name {
        font-size: 14px;
    }

    .heading-desc,
    .heading-common {
        font-size: 24px;
    }
    
    .panel-about {
        padding-top: 67px;
        padding-bottom: 56px;

        .heading {
            margin-bottom: 67px;
        }
    }

    .about-media {
        margin-bottom: 22px;
    }

    .about-heading {
        margin-bottom: 11px;
    }
    
}