.bg-1 {
    background-image: url(../img/data/customer-1.jpg);
}

.bg-2 {
    background-image: url(../img/data/customer-2.jpg);
}

.bg-3 {
    background-image: url(../img/data/customer-3.jpg);
}

.bg-4 {
    background-image: url(../img/data/customer-4.jpg);
}

.bg-5 {
    background-image: url(../img/data/customer-5.jpg);
}

.bg-6 {
    background-image: url(../img/data/customer-6.jpg);
}

.bg-7 {
    background-image: url(../img/data/vision-1.jpg);
}

.bg-8 {
    background-image: url(../img/data/vision-2.jpg);
}