.panel-project {
    padding-top: 20px;
    padding-bottom: 16px;
    margin-bottom: 20px;

    .heading {
        margin-bottom: 20px;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        @include square(50px);
        margin-top: -13px;
        font-size: 30px;
        border: 0;
        background: $color-white;
        padding: 0;
        transition: background .3s, color .3s;
        outline: none;

        &:hover {
            color: $color-white;
            background: $color-primary;
        }
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }
}

.project-list {
    @include clearfix;
}

.project-item {
    position: relative;
    text-align: center;
    
    img {
        width: 100%;
    }
}

.project-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;

    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-nine, .8);
        opacity: 0;
        transition: opacity 0.35s;
    }

    &:hover {

        &::before {
            opacity: 1;
        }

        .project-heading,
        .project-search {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.project-table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.project-cell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.project-slider {
    margin-bottom: 25px;
}

.project-heading {
    color: $color-second;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    opacity: 0;
    transform: translate3d(0, -60px, 0);
    transition: opacity 0.35s, transform .35s;
    transition-delay: .25s
}

.project-search {
    font-size: 24px;
    color: $color-white;
    opacity: 0;
    transform: translate3d(0, 60px, 0);
    transition: opacity 0.35s, transform .35s;
    transition-delay: .25s
}

.project-more {
    text-align: center;

    a {
        @include btn-view;
    }
}

@include breakpoint(sm) {
    .panel-project {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 65px;

        .heading {
            margin-bottom: 42px;
        }
    }


    .project-slider {
        margin-bottom: 50px;
    }

    .project-cell {
        padding-top: 22px;
    }
}